<style>
    body {
        background-image: url("/img/facilities5.webp");
        background-size: cover;
        background-repeat:no-repeat;     
    }
    .box {    
        width: 100%;
        height: 1000px;
        border: 5px solid grey;
    }
    img {
        max-width: 100%;
        height: auto;
    } 
.display {
    border: 0;
    width: 200%;
    text-align: left;
    position: absolute;
    top:  65%;
    left: 18%;
    margin: auto;
    height: 30%;
    min-width: 600px;
    max-width: 900px;

}    

</style>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-5 text-center text-light" style="background-color: rgba(0, 0, 0, 0.432);">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-3 font-weight-normal ">Country Club</h1>
      <h1 class="display-5 font-weight-normal">Facilities</h1>
    {{!-- <p class="lead font-weight-normal">Facilities</p> --}}
    <a class="btn btn-outline-secondary" href="#">Read more...</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<br><br>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6 text-white">
        <img src="/img/facilities_cafe.png" alt="" class="">
        <p></p>
        <h2>La Cave Bistro & Cafe</h2>
        <p>La Cave offers an extensive selection of wines covering every major wine region, from famous labels to lesser-known wineries. Attractive promotions and recommendations from our dedicated wine team are always available. Spirits and cigars are also offered. 
        </p>
        With extensive whisky selection and cozy atmosphere, La Cave is a perfect spot to enjoy pre-dinner drinks, or just relax with friends, an ideal venue for business meetings and private gatherings.
       <p>
          {{!-- <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> --}}
      </div>
    
      <div class="col-md-6 text-white">        
        <img src="/img/facilities_thelawn.png" alt="" class="">
        <p></p>
        <h2>The Lawn</h2>
        <p>The Lawn is one of the most unique and charming features of the Club. Our Members have come to value the opportunity for their children to be able to play in an open, natural setting. 
        </p>
        As the urban conurbation of Hong Kong has developed and population density increases, the value of having a safe open space for children as well as adults to enjoy has become all the more precious and appreciated by all.<p>
      
         </div>
   <!-- scrolltop -->
  <div class="container mb-3 py-1 my-1  float-right">
      <div id="scrolltop">
          <div class="card-body text-right" >
          <a href="#" class="btn btn-primary btn-sm-right" style="background-color: #8b817a"><img src="/img/backtotop.png" alt="reg" width="20" height="20"/></a>
          </div>
      </div>
    </div>
</div>
    <hr>
    <hr style="height:3px;border-width:0;color:gray;background-color:gray">
    </div>