<div class="position-relative overflow-hidden p-0 p-md-0 m-md-0 text-center text-white" style="background-color: #796241;">
  <div class="col-md-0 p-lg-0 mb-4" style="background-color: #374764">

  <img src="/img/sports_tableT.png" class="img-fluid">

    <h1 class="display-4 font-weight-normal">Relax with a Table Tennis match! </h1>
    <p class="lead font-weight-normal">Await for you</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    <p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block" ></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block" ></div>
</div>
<br>

  <div class="container">
    <!-- Example row of columns -->
   <div class="card" style="border: 0px solid;">    
      <div class="card-body">
        <h4 class="card-title">Table Tennis</h4><p>
        <h6 class="card-subtitle text-muted">Join our match games !</h6><p>
        <p class="card-text">What is better than a table tennis match with your colleagues to relax and clear your mind?
        <p>
        Elegant drawers hide table tennis equipment and just by setting up a professional net, the table becomes a perfect playing field. Top in extra matt lacquered finish with printed table tennis layout. This Italian designer ping pong table has two under top hidden drawers complete of 4 paddles and 8 balls.   
        <p>
        Table Tennis can be booked for 60 minutes per session. Visitors are welcome Monday to Sunday from 10:00am to dark. Starting times can be booked up to five days in advance.Teaching Professionals and trained caddies are also available for hire.<p>
        To enhance your Table Tennis experience all transactions within the Club can be settled with the use of a prepaid debit card which can be purchased at the Reception. The Club accepts cash and credit cards at the Reception.
        </p>
        <a href="/bookings/add" class="btn btn-outline-light" style="background-color: #8b817a">Book Now &raquo;</a>
    </div>
      <!-- scrolltop -->
  <div class="container mb-3 py-1 my-1  float-right">
      <div id="scrolltop">
          <div class="card-body text-right" >
          <a href="#" class="btn btn-dark btn-sm-right" style="background-color: #8b817a"><img src="/img/backtotop.png" alt="reg" width="20" height="20"/></a>
          </div>
      </div>
</div>
<br><br>
    </div>
    <hr>
